/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */

@font-face {
    font-family: 'Open Sans';
    src: url(/fonts/OpenSans-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    src: url(/fonts/OpenSans-Italic.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: bold;
    src: url(/fonts/OpenSans-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: italic;
    src: url(/fonts/OpenSans-BoldItalic.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    src: url(/fonts/OpenSans-Light.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: italic;
    src: url(/fonts/OpenSans-LightItalic.woff) format('woff');
}

@font-face {
    font-family: Menlo;
    src: url(/fonts/Menlo-Regular.woff) format('woff');
}

html {
    height: 100%;
    font-size: 10px;
}

body {
    padding-top: 7.5rem;
    padding-bottom: 5rem;
    position: relative;
    min-height: 100%;
    font-family: 'Open Sans', Arial, 'Microsoft YaHei', sans-serif;
    font-size: 1.6rem;
    background: #fafaf8;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    padding-top: 1rem;
    background-color: #333;
    color: gray;
}

.footer {
    font-size: 1.4rem;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.copyleft {
    transform: scaleX(-1);
}

.header-navbar {
    background: #f8ea58;
    height: 6rem;
    min-height: 6rem;
    padding-top: 1.2rem;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.15);
}

.header-row {
    width: 100%;
    height: 4rem;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.header-image {
    display: flex;
}

.header-image-link {
    background-image: url(/images/banana-titlebar.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 21rem;
    height: 4rem;
}

.header-login-div {
    height: 4rem;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.header-username {
    font-weight: bold;
    padding: .5em 1em;
    color: #333;
}

    .header-username:hover, .header-username:focus, .header-button:focus {
        color: #000;
    }

.header-button {
    padding: .5em 1.2em;
    margin: 0 .3em;
    color: #333;
}

    .header-button:hover {
        background-color: #f8ea58;
        background-color: rgba(50,50,50,.05);
        color: #000;
    }

h1 {
    color: #f07030;
    font-family: 'Open Sans', 'Trebuchet MS', Arial, 'Microsoft YaHei', sans-serif;
    font-weight: 300;
    font-size: 3.6rem;
}

.box-h1 {
    margin-top: 0;
    margin-bottom: 4rem;
}

h2 {
    color: #1bd;
    font-family: 'Open Sans', 'Trebuchet MS', Arial, 'Microsoft YaHei', sans-serif;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.button-yellow {
    background-color: #f8ea58;
    border-radius: 0;
    color: #333;
    font-size: 1.6rem;
    padding: .3em 1.2em .4em 1.2em;
}

    .button-yellow:hover {
        background-color: #f0dc20;
        color: #000;
    }

    .button-yellow[disabled] {
        background-color: #e8e8e8;
        color: gray;
    }

.button-red {
    background-color: #e00;
    border-radius: 0;
    color: #fff;
    font-size: 1.6rem;
    padding: .3em 1.2em .4em 1.2em;
    font-weight: bold;
}

    .button-red:hover {
        background-color: #e44;
        color: #fff;
    }

    .button-red:focus {
        color: #fff;
    }

.one-em-wide {
    display: inline;
    padding: 0 1em 0 0;
}

.login-div-column {
    max-width: 500px;
    margin: 1.5rem;
}

.box {
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-height: 5rem;
}

.box-title {
    width: 100%;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: #f8ea58;
    padding: .3em 1em .3em 1em;
}

.logo-container {
    font-size: 3.2rem;
    text-align: center;
    padding: 2rem 2rem 4rem 2rem;
}

.logo {
    background-image: url(/images/banana-large.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    height: 60vh;
    min-height: 20rem;
    max-height: 45rem;
}

.not-too-wide {
    width: 100%;
    max-width: 800px;
}

.not-too-long {
    max-height: 80rem;
    overflow-y: auto;
}

.not-wide {
    width: 100%;
    max-width: 500px;
}

.large-padding {
    padding: 4rem;
}

.med-padding {
    padding: 2rem;
}

.small-padding {
    padding: .5rem 1rem;
}

.large-margin-top {
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.small-margin {
    margin: .5rem;
}

.small-margin-top {
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.course-list-container {
    display: flex;
    justify-content: center;
}

.list-header {
    font-size: 1.8rem;
    font-weight: bold;
    background-color: #f8ea58;
    padding: .3em 1em .3em 1em;
}

.list-header-null {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #ddd;
}

.list-item {
    background-color: inherit;
    color: #1ad;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #ddd;
    display: block;
    text-decoration: none;
    padding: .3em 1em .5em 1em;
}

    .list-item:hover {
        background-color: #eee;
    }

.list-item-creator {
    background-color: #f4faff;
}

.list-item-plain {
    color: #1ad;
    padding: .2em 0;
}

.link-no-underline {
    text-decoration: none;
}

    .link-no-underline:hover {
        text-decoration: none;
    }

    .link-no-underline:focus {
        text-decoration: none;
    }

.list-item-header {
    font-size: 2rem;
    margin-bottom: -.2rem;
    font-family: 'Open Sans', 'Trebuchet MS', Arial, 'Microsoft YaHei', sans-serif;
    display: flex;
    align-items: center;
}

.list-item-header-description {
    color: #aaa;
    font-size: 1.4rem;
    margin-left: 1em;
}

.list-item-description {
    color: #aaa;
    font-size: 1.4rem;
    max-width: 100%;
    max-height: 3em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list-item-current {
    color: #333;
    font-weight: bold;
}

.list-item-unsel {
    padding: .3em 1em;
}

    .list-item-unsel .show-on-sel {
        display: none;
    }

.list-item-sel {
    background-color: #f6f6f6;
}

.link-row {
    margin-top: .5rem;
}

.link-row-item {
    margin: 1rem;
    margin-right: 1rem;
}

.page-list-item-normal {
    font-size: 1.8rem;
}

.page-list-item-unpublished {
    font-size: 1.8rem;
    color: darkgray;
}

.page-list-item-has-draft {
    font-size: 1.8rem;
    color: #88c010;
}

.ui-widget, .ui-widget button, .ui-widget input {
    font-family: 'Open Sans', Arial, 'Microsoft YaHei', sans-serif;
}

.ui-widget-header {
    background: #f8ea58;
    border-color: white;
}

.ui-dialog {
    box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
}

.dialog {
    display: none;
}

.dialog-button-row {
    display: flex;
    align-content: center;
    justify-content: flex-end;
}

.page-body {
    width: 70%;
    width: calc(75% - 2rem);
    float: left;
}

.user-page-content {
    font-size: 1.8rem;
    text-align: justify;
    line-height: 1.6;
    color: black;
    word-break: break-word;
}

.user-page-content p {
    margin-bottom: 1.8rem;
}

.sidebar {
    width: 25%;
    float: right;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-can-grow {
    flex-grow: 1;
}

.text-small {
    font-size: 1.4rem;
}

/* EditPage.cshtml */

.textbox-code, .ui-widget input.textbox-code {
    width: 100%;
    font-family: Menlo, 'Microsoft YaHei', monospace;
    font-size: 1.4rem;
    tab-size: 4;
    resize: none;
}

.error-message {
    font-size: 1.4rem;
    font-family: Menlo, 'Microsoft YaHei', monospace;
    border-width: 0 0 0 .4rem;
    border-color: #f44;
    border-radius: 0;
    padding: 1rem 2rem;
    background-color: #fff2f2;
    color: #f22;
    white-space: pre-wrap;
    overflow-x: hidden;
}

.container-wide {
    width: 100%;
}

.editor-container {
    width: 50%;
    width: calc(50% - 1rem);
    position: fixed;
}

    .editor-container .box {
        margin: 1rem;
        min-height: 20rem;
        height: calc(100vh - 14.5rem);
        display: flex;
        flex-direction: column;
    }

        .editor-container .box h1 {
            margin-bottom: 1rem;
            height: 2em;
            overflow-y: auto;
        }

        .editor-container .box form {
            flex-grow: 1;
            flex-shrink: 1;
            display: flex;
            flex-direction: column;
        }

.previewer-container {
    width: 50%;
    width: calc(50% - 1rem);
    float: right;
}

    .previewer-container .box {
        margin: 1rem;
        min-height: calc(100vh - 14.5rem);
        overflow-x: hidden;
    }

.editor-form-content {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    margin-bottom: 2rem;
    /* IE and Edge bug: leaving 'height: auto' as default will cause CodeMirror to expand below page bottom */
    height: 0;
}

.editor-tab-active {
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.editor-tab-inactive {
    display: none;
}

.editor-tabs {
    flex-shrink: 0;
    width: 1.6em;
    border-right: 1px solid #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editor-tab-link-container {
    width: 3.5em;
    height: 1.6em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: .2em;
}

.editor-tab-link {
    color: #000;
}

    .editor-tab-link:hover {
        color: #000;
    }

    .editor-tab-link:focus {
        color: #000;
    }

.editor-tab-link-active {
    transform: rotate(90deg);
    background-color: #f8ea58;
    margin: 1em 0 1.2em 0;
    border-bottom-left-radius: .8rem;
    border-bottom-right-radius: .8rem;
}

.editor-tab-link-inactive {
    transform: rotate(90deg);
    background-color: #e8e8e8;
    margin: 1em 0 1.2em 0;
    border-bottom-left-radius: .8rem;
    border-bottom-right-radius: .8rem;
}

.editor-form-groups {
    margin-left: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

    .editor-form-groups > .form-group:last-child {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

/* CodeMirror */

.textarea-code {
    display: none;
}

.CodeMirror, .textarea-code {
    font-family: Menlo, 'Microsoft YaHei', monospace;
    font-size: 1.4rem;
    height: 100%;
    flex-grow: 1;
}

    .CodeMirror pre {
        padding-left: .8rem;
    }

.CodeMirror-selected {
    background: #ddd;
}

.CodeMirror-focused .CodeMirror-selected {
    background: #d8e8f8;
}

.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection {
    background: #d8e8f8;
}

.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection {
    background: #d8e8f8;
}

.CodeMirror-gutters {
    font-size: 1.2rem;
    background-color: inherit;
    padding-left: 1rem;
    padding-right: .5rem;
    border-right: 1px solid #eee;
}

.CodeMirror-linenumber {
    color: #aaa;
    font-size: 1.2rem;
    padding-top: .25rem;
}

.CodeMirror-code {
    color: #333;
}

.CodeMirror-matchingbracket {
    color: inherit !important;
    background-color: #fe9;
}

.CodeMirror-nonmatchingbracket {
    color: inherit !important;
}

.CodeMirror-matchingtag {
    background-color: #fff8c8;
    padding: 1px 0;
}

.CodeMirror-nonmatchingtag {
    background-color: #fee;
}

.CodeMirror-hints {
    width: 20rem;
    font-family: Menlo, 'Microsoft YaHei', monospace;
}

.CodeMirror-hint {
    color: #333;
}

.CodeMirror-hint-active {
    color: #07a !important;
    background-color: #e8f4ff !important;
}

.CodeMirror-placeholder {
    color: #ccc !important;
}

.cm-special, .cm-command {
    color: #1ad;
}

.cm-environment, .cm-label, .cm-argument {
    color: #d85;
}

.cm-comment {
    color: #bbb !important;
}

/* Files */

#_file-input {
    position: fixed;
    margin-top: -100em;
    opacity: 0;
}

.file-box {
    border: 1px solid #ddd;
    flex-grow: 1;
    overflow-y: auto;
}

.file-list {
    margin-bottom: 1rem;
}

.file-list-item {
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
}

.file-list-item-name {
    font-weight: bold;
    width: 25%;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.file-progress-container {
    flex-grow: 1;
    margin-left: 2rem;
}

.file-progress {
    width: 100%;
    height: .7rem;
    background-color: #eee;
    background-color: rgba(128,128,128,.1);
    overflow-y: hidden;
}

.file-progress-inner {
    height: .7rem;
    color: #f8d800;
    background-color: #f8d800;
}

.file-progress-inner::before {
    content: ".";
}

.file-upload-link {
    margin-left: 1.5rem;
}

/* Others */
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.enum-item {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
}

.enum-item-label {
    margin-left: .25em;
    width: 2em;
    flex-shrink: 0;
    flex-grow: 0;
}

.enum-item-content {
    flex-grow: 1;
}

.paragraph {
    margin-bottom: 1.8rem;
}

    .paragraph img {
        max-width: 100%;
        max-height: 100rem;
    }

.block-paragraph {
    margin-bottom: 1.8rem;
    border-style: solid;
    border-width: 0 0 0 .4rem;
    padding: 1.2rem 2rem 1.4rem 2rem;
}

.enum-item:last-child > .enum-item-label > .paragraph:last-child,
.enum-item:last-child > .enum-item-content > .paragraph:last-child,
.block-paragraph > .paragraph:last-child {
    display: inline;
    display: contents;
}

    .enum-item:last-child > .enum-item-content > .paragraph:last-child .MJXp-display,
    .enum-item:last-child > .enum-item-content > .paragraph:last-child .MathJax_Display,
    .block-paragraph > .paragraph:last-child > span:last-child .MJXp-display,
    .block-paragraph > .paragraph:last-child > span:last-child .MathJax_Display {
        margin-bottom: .6rem;
    }

.bookmark {
    width: 1px;
    height: 1px;
    position: absolute;
    margin-top: -7.5rem;
}

code {
    font-family: Menlo, 'Microsoft YaHei', monospace;
    font-size: 1.4rem;
    background-color: #f4f4f4;
    color: #000;
}

pre.code-snippet {
    font-family: Menlo, 'Microsoft YaHei', monospace;
    font-size: 1.4rem;
    background-color: #f4f4f4;
    padding: 1.2rem 2rem 1.4rem 2rem;
    border-radius: 0;
    border: none;
    border-left: .4rem solid #1ad;
    white-space: pre;
    word-wrap: normal;
    overflow-x: auto;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    html {
        font-size: 7px;
    }

    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .page-body {
        float: none;
        width: 100%;
    }
    
    .sidebar {
        float: none;
        width: 100%;
    }

    .editor-container {
        position: relative;
        width: 100%;
    }

    .previewer-container {
        width: 100%;
    }

    .logo-container {
        font-size: 2.8rem;
    }

    .logo {
        height: 30vh;
        margin-bottom: 2rem;
    }

    .large-padding {
        padding: 2rem;
    }

    label {
        font-size: 16px;
    }

    .button-large-mobile {
        font-size: 16px;
        padding: 3px 25px 4px 25px;
    }

    .hide-mobile {
        display: none;
    }

    .MathJax_Display {
        overflow-x: auto; /* Horizontally scroll long equations. */
        overflow-y: hidden;
    }
}
