@page
@model Banana.Pages.NewCourseModel
@{
    ViewData["Title"] = "创建文档";
}

<div class="box not-wide center-block large-margin-top large-padding">
    <h1 class="box-h1 text-center">@ViewData["Title"]</h1>

    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Input.Title"></label>
            <input asp-for="Input.Title" class="form-control textbox-code" spellcheck="false" autocomplete="off" />
            <span asp-validation-for="Input.Title" class="text-danger"></span>
        </div>
        <p style="line-height:1.7;margin-bottom:1em">标题可以包含数学公式，创建后仍然可以修改。一个文档可以包含很多页面，主页面的标题就是文档的标题。</p>
        <div class="form-group">
            <input type="submit" value="创建" class="btn button-yellow" />
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
