@page
@model Banana.Pages.UserProfileModel
@using Banana.Pages.Shared
@{
    ViewData["Title"] = "我的书包";
}

<div class="box med-padding not-too-wide center-block">
    <h1 class="box-h1">@ViewData["Title"]</h1>

    <p class="paragraph">这里是你收藏和创建的所有文档，按照更新时间排序。</p>

    <div class="list-header-null"></div>
    <partial name="Shared/_CourseListPartial" model="Model.CourseListPartialModel" />
    
    <p class="paragraph" style="margin-top:1em">你也可以点击下面的按钮，创建新的文档。</p>
    
    <a href="/create" class="btn button-yellow">创建文档</a>
</div>

