@page
@model LogoutModel
@{
    ViewData["Title"] = "退出登录";
}

<div class="box center-block not-wide large-padding large-margin-top">
    <h1 class="text-center box-h1">@ViewData["Title"]</h1>

    <form method="post">
        <h4 style="margin-bottom:2em">确定要退出登录吗？</h4>
        <button type="submit" class="btn button-yellow button-large-mobile">确定</button>
    </form>
</div>
